.main {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 48px);
  margin-top: 48px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  width: 100%;
}
